{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIOS PORTFOLIO</title>
    <link rel="icon" href="../../../static/assets/images/firmware-logo.ico">
    <link id="theme" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="modulepreload" href="{% static 'engine/app.js' %}">
</head>
<body>
    <div id="app"></div>
    <script type="module" src="{% static 'engine/app.js' %}"></script>
</body>
</html>